<h1>Edit URL</h1>
<%= render 'form' %>



<h3>Tag list</h3>
<a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Add a tag
</a>

<div class="collapse" id="collapseExample">
  <div class="well">
    <form action="/urls/add_tag" method="post">
      <label for="name">Tag Name: </label>
      <input type="text" name="name">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :url_id, @url.id %>
      <button class="btn btn-danger btn-sm"> Add</button>
    </form>
  </div>
</div>
<br>

<%  @url.tags.each do  |tag| %>
  <%= tag.name %> <%= link_to delete_tag_path(tag_id: tag.id, url_id: @url.id), data: {confirm: 'Are you sure?'} do%> 
        <i class="fas fa-trash-alt"></i><br>
        <% end %>
<% end %>

